requests>=2.31.0
beautifulsoup4>=4.12.0
lxml>=4.9.0
openpyxl>=3.1.2
playwright
faster_whisper
playwright-stealth
selenium
numpy==1.26.4
pandas==2.0.3
undetected-chromedriver==3.5.5
fake-useragent==1.4.0