# beautifulsoup4
# numpy
# pyautogui
# mysql-connector-python
# undetected-chromedriver
# selenium
# webdriver-manager
# pymysql
# cryptography
# SQLAlchemy
# python-dotenv
seleniumbase>=4.41.0
mysql-connector-python
pymysql
cryptography
python-dotenv
numpy
pyautogui
beautifulsoup4